.tribute {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.navbar {
  padding: 35px 0px 35px 0px;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.navtext {
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}
body { 
  font-family: 'Crimson Text', serif;
  
}

.bioleft {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  letter-spacing: 20px;
  padding: 50px 45px 100px 45px; 
}

.biofirstline {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  padding: 450px 0px 0px 0px; 
}
.biotext {
  padding: 10px 0px 0px 0px; 
  font-family: 'Crimson Text', serif;
  font-size: 19px;
  color: #fff;
  letter-spacing: 1px;
  
}
.biotextright {
  padding: 0px 0px 0px 0px; 
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
}
.work {
  background: #fff;
  padding: 100px 0px 100px 0px;
}