a:link {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

}

a:visited {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:hover {
  /*color: #6e6e6e;*/
  color: #838383;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:active {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

body { 
  font-family: 'Crimson Text', serif;
}

p {
  text-align: left;
}

.chelsea {
  background: url('../img/bg.png') fixed;
  background-color: #fff;
  padding: 150px 300px 150px 300px;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  letter-spacing: .5px;
}

.chelseafirstline {   
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 0px 0px 0px 0px; 

}
.nounderline {
  text-decoration: none;
}

.bioleft {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  letter-spacing: 20px;
  padding: 50px 45px 100px 45px; 
}

.biofirstline {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  padding: 395px 0px 0px 0px; 
}

.biotext {
  padding: 10px 0px 0px 0px; 
  font-family: 'Crimson Text', serif;
  font-size: 19px;
  color: #fff;
  letter-spacing: 1px;
}

.biotextright {
  color: #fff;
  padding: 0px 0px 0px 0px; 
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  letter-spacing: 2px;
}

.footer {
  background-color: #ececec;
  color: #313434;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 30px 45px 30px 45px;
}

.footer2 {
  color: #313434;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar {
  background-color: #fff;
  padding: 35px 0px 35px 0px;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.navtext {
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  padding: 10px 30px 50px 20px;
}

/*.tribute {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}*/

.work {
  background: #fff;
  padding: 100px 100px 100px 100px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}



